﻿<	<div class="umb-panel-body umb-scrollable row-fluid" ng-show="recipe">
	<div class="umb-pane">
		<div class="form-horizontal">
			<div class="umb-property">
				<div class="control-group umb-control-group">
					<div class="umb-el-wrap">
						<label class="control-label">Name</label>
						<input type="text" ng-model="recipe.name" class="umb-editor umb-textstring textstring" />
					</div>
				</div>
			</div>
			<div class="umb-property">
				<div class="control-group umb-control-group">
					<div class="umb-el-wrap">
						<label class="control-label">Description</label>
						<textarea ng-model="recipe.description" class="umb-editor umb-textstring textstring" rows="10" />
					</div>
				</div>
			</div>
			<div class="umb-property">
				<umb-control-group label="Image" description="">
					<div class="umb-property-editor" ng-if="imageFile">
						<img ng-src="{{imageFile.image}}" alt="" width="150" height="150" />
					</div>
					<ul class="unstyled" ng-if="imageFile">
						<li>
							{{imageFile.name}}
							<i class="icon icon-delete red" ng-click="removePicture()"></i>
						</li>
					</ul>
					<ul class="unstyled list-icons">
						<li>
							<i class="icon icon-add blue"></i>
							<a href ng-click="openMediaPicker()" prevent-default>
								Select
							</a>
						</li>
					</ul>
				</umb-control-group>
			</div>
		</div>
		<button type="button" class="btn umb-button__button btn-success umb-button--" ng-click="update()" ng-disabled="lock">
			<span class="umb-button__content">
				Save
			</span>
		</button>
	</div>
</div>
