﻿<div ng-controller="RecipeTree.EditRecipe.Controller">
	<div class="umb-panel-header">
		<div class="umb-panel-header-content-wrapper">
			<div class="umb-panel-header-content">
				<div class="umb-panel-header-left-side">
					<div class="umb-panel-header-title-wrapper">
						<div class="umb-panel-header-name">{{recipe.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div edit-template></div>
</div>