﻿<div ng-controller="RecipeTree.RemoveRecipe.Controller">
	<div class="umb-panel-header">
		<div class="umb-panel-header-content-wrapper">
			<div class="umb-panel-header-content">
				<div class="umb-panel-header-left-side">
					<div class="umb-panel-header-title-wrapper">
						<div class="umb-panel-header-name">Delete recipe?</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="umb-panel-body umb-scrollable row-fluid">
		<div class="umb-pane">
			<div class="form-horizontal">
				<div class="umb-property">
					<button type="button" class="btn umb-button__button btn-success umb-button--" ng-click="remove()">
						<span class="umb-button__content">
							Delete
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
